body {
  border: 10px solid red !important;
  background-color: aqua !important;
}

#deploy-check {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: red;
  color: white;
  padding: 10px;
  font-size: 18px;
  z-index: 99999;
}
