name: TYPO3 TER Release

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ter-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # - name: Validate composer.json and composer.lock
      #   run: composer validate --strict

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Get version from Git tag
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"
          extensions: intl, mbstring, xml, soap, zip, curl , redis-6-1

      - name: Install TYPO3 Tailor
        run: composer global require typo3/tailor --no-progress --prefer-dist

      # - name: Publish extension to TER
      #   run: |
      #     ~/.composer/vendor/bin/tailor ter:publish \
      #       $TYPO3_EXTENSION_KEY \
      #       $VERSION
